<div class="container">
<h1>Stupid Coaching </h1>
  <h2>Ask your Coach anything:</h2>
    <div class="row justify-content-center">
      <div class ="col-lg-12">
        <form action="/answer" data-turbo="false" class="form-group m-3" >
          <input type="text" name="input">
          <input type="submit" value="Ask!">
        </form>
      </div>
    </div>
  </div>
